name: Deploy to VPS
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 217.65.144.43
          username: root
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd ~/website/marocagency
            git pull origin main
            docker compose down
            docker compose build
            docker compose up -d
